{% extends "Star_wars_app/base.html" %}
{% load static %}

{% block content %}

    <div class="container" id="contenido">
        <div class="row fila">
            <div class="col-xs-12 col-md-4 columna">
                <div class="imagen">
                    <i class="fa-solid fa-person"></i>
                </div>
                <h1>Nombre.</h1>
                <p>{{ object.nombre }}</p>
            </div>
            <div class="col-xs-12 col-md-4 columna">
                <div class="imagen">
                    <i class="fa-regular fa-calendar-check"></i>
                </div>
                <h1>Año de nacimiento.</h1>
                {% if object.anio_nacimiento == 'desconocida' %}
                <p>El año de nacimiento de {{ object.nombre }} es desconocido</p>
                {% else %}
                <p>{{ object.anio_nacimiento }}</p>
                {% endif %}
            </div>
            <div class="col-xs-12 col-md-4 columna">
                <div class="imagen">
                    <i class="fa-solid fa-venus-mars"></i>
                </div>
                <h1>Genero.</h1>
                <p>{{ object.genero }}</p>
            </div>
        </div>
        <div class="row fila">
            <div class="col-xs-12 col-md-4 columna">
                <div class="imagen">
                    <i class="fa-solid fa-earth-americas"></i>
                </div>
                <h1>Planeta de origen.</h1>
                {% if object.planeta_nacimiento == 'unknown' %}
                <p>El planeta de origen de {{ object.nombre }} es desconocido</p>
                {% else %}
                <p>{{ object.planeta_nacimiento }}</p>
                {% endif %}
            </div>
            <div class="col-xs-12 col-md-4 columna">
                <div class="imagen">
                    <i class="fa-solid fa-film"></i>
                </div>
                <h1>Peliculas en las que aparece {{ object.nombre }}.</h1>
                <div>
                    <ul>
                    {% for pelicula in peliculas %}
                        {% for personaje in pelicula.devolverPersonajes %}
                        {% if object.nombre == personaje.nombre %}
                        <li>{{ pelicula.titulo }}</li>
                        {% endif %}
                        {% endfor %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 columna">
                <div class="imagen">
                    <i class="fa-solid fa-people-group"></i>
                </div>
                <h1>Especie.</h1>
                {% if object.nombre in esp.devolverPersonajesEspecie %}
                {% for especie in especies %}
                    {% if object.nombre in especie.devolverPersonajes %}
                        <p>{{ especie.nombre }}</p>
                    {% endif %}    
                {% endfor %}
                {% else %}
                <p>La especie de {{ object.nombre }} es desconocida</p>
                {% endif %}
            </div>
        </div>
        <div class="row fila">
            <div class="col-xs-12 col-md-6 columna">
                <div class="imagen">
                    <i class="fa-brands fa-space-awesome"></i>
                </div>
                <h1>Naves espaciales que ha pilotado {{ object.nombre }}.</h1>
                {% if object.devolverNaves %}
                    <div>
                        <ul>
                        {% for nave in object.devolverNaves %}
                        <li>{{ nave.nombre }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                {% else %}
                <p>{{ object.nombre }} no ha pilotado ninguna nave</p>
                {% endif %}
            </div>
            <div class="col-xs-12 col-md-6 columna">
                <div class="imagen">
                    <i class="fa-solid fa-car"></i>
                </div>
                <h1>Vehiculos que ha pilotado {{ object.nombre }}.</h1>
                {% if object.devolverVehiculos %}
                    <div>
                        <ul>
                        {% for vehiculo in object.devolverVehiculos %}
                        <li>{{ vehiculo.nombre }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                {% else %}
                <p>{{ object.nombre }} no ha manejado ningun vehiculo</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}