{% extends "Star_wars_app/base.html" %}
{% load static %}

{% block content %}
    <div class="container" id="contenido">
        <div class="row fila_inicio">
            <div class="col-12 intro">
                <p>Bienvenido a una pagina no oficial sobre star wars :D.</p>
                <p>Es un proyecto personal en donde podras encontrar información sobre las peliculas de la franquicia, sus personajes, planetas, etc.</p>
                <p>Construí esta pagina usando esta <a href="https://swapi.dev/">api</a> donde se encuentra toda la información que recolecté para la creación de la pagina.</p>
                <p>Espero te guste :D</p>
            </div>
        </div>
    </div>

    <div class="container" id="contenido">
        <div class="row fila_inicio">
            <div class="col-12 intro">
                <a class="btn btn-primary" href="{% url 'personajes:Lista' %}"></a>
            </div>
        </div>
    </div>
{% endblock %}