{% extends "Star_wars_app/base.html" %}
{% load static %}

{% block content %}
    <div class="container" id="contenido">
        <div class="row fila_inicio">
            <div class="col-12 intro">
                <h1>Vehiculos</h1>
                <p>Aquí podras ver a los vehiculos que usan los personajes. Podras ver a detalle todos los vehiculos y caracteristicas de cada uno, tales como:</p>
                <ul>
                    <li>Nombre</li>
                    <li>Modelo</li>
                    <li>Clase</li>
                    <li>Costo</li>
                    <li>Maxima velocidad</li>
                    <li>Peliculas en las que aparece el vehiculo</li>
                    <li>pilotos</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container" id="contenido">
        {% if object_list %}
        {% for vehiculo in object_list %}
        <div class="row fila_personaje">
            <div class="col-8 columna">
                <p>{{ vehiculo.nombre }}</p>
            </div>
            <div class="col-4 columna">
                <a class="btn btn-primary" href="{% url 'vehiculos:Detail' %}" role="button">Ver</a>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>No hay registro de vehiculos</p>
        {% endif %}
    </div>
{% endblock %}