{% extends "Star_wars_app/base.html" %}
{% load static %}

{% block content %}

    <div class="container" id="contenido">
        <div class="row fila">
            <div class="col-xs-12 col-md-4 columna">
                <div class="imagen">

                </div>
                <h1>nombre</h1>
                <p>nombre</p>
            </div>
            <div class="col-xs-12 col-md-4 columna">
                <div class="imagen">

                </div>
                <h1>año nacimiento</h1>
                <p>año nacimiento</p>
            </div>
            <div class="col-xs-12 col-md-4 columna">
                <div class="imagen">

                </div>
                <h1>genero</h1>
                <p>genero</p>
            </div>
        </div>
        <div class="row fila">
            <div class="col-xs-12 col-md-4 columna">
                <div class="imagen">

                </div>
                <h1>planeta origen</h1>
                <p>planeta origen</p>
            </div>
            <div class="col-xs-12 col-md-4 columna">
                <div class="imagen">

                </div>
                <h1>peliculas</h1>
                <p>peliculas</p>
            </div>
            <div class="col-xs-12 col-md-4 columna">
                <div class="imagen">

                </div>
                <h1>especie</h1>
                <p>especie</p>
            </div>
        </div>
        <div class="row fila">
            <div class="col-xs-12 col-md-6 columna">
                <div class="imagen">

                </div>
                <h1>naves espaciales</h1>
                <p>naves espaciales</p>
            </div>
            <div class="col-xs-12 col-md-6 columna">
                <div class="imagen">

                </div>
                <h1>vehiculos</h1>
                <p>vehiculos</p>
            </div>
        </div>
    </div>
{% endblock %}