body {
    background: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
}

#mainNav {
    background-color: #3A3C55;
    border-bottom: solid #ffe81f 2px;
}

#mainNav a {
    color: #fffcd9;
}

#mainNav .navbar-brand {
    margin-right: 25px;
}

#menu .nav-item .nav-link {
    font-size: 20px;
}

/*#menu .nav-item .active{
    -webkit-text-stroke: 0.5px #ffe81f;
}*/

#mainNav .navbar-toggler i {
    color: #fffcd9;
}

#contenido {
    background-color: #fffcd9;
    margin: 20px auto;
    border-radius: 10px;
    border: solid #ffe81f 3px;
}

#contenido .fila_inicio {
    min-height: 130px;
}

#contenido .fila_inicio .columna {
    display: flex;
    align-items: center;
}

#contenido .fila_inicio .intro h1 {
    text-align: center;
}

#contenido .fila_inicio .intro p {
    font-size: 1rem;
    margin: 10px 0;
    text-align: center;
}

#contenido .fila_inicio p {
    font-size: 1rem;
    margin: 10px 0;
}

#contenido .fila_inicio h1 {
    margin: 10px 0;
}

#contenido .fila_inicio h1 a {
    text-decoration: none;
    color: black;
    transition: color 0.8s linear 0.2s;
}

#contenido .fila_inicio h1 a:hover {
    color: #584F0A;
}

#contenido .fila_inicio .imagen{
    width:25vh;
    max-width:100px;
    height:25vh;
    max-height:100px;
    position:relative;
    background:white;
    border-radius: 50px;
    margin: 10px auto ;
    border: solid #ffe81f 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contenido .fila_inicio .imagen i {
    font-size: 4rem;
}

#contenido .fila_personaje {
    min-height: 60px;
}

#contenido .fila_personaje .columna {
    display: flex;
    align-items: center;
}

#contenido .fila_personaje .columna p {
    margin-bottom: 0;
    font-weight: bold;
}

#contenido .fila_personaje .columna a {
    margin: auto auto;
    padding: .375rem 1.2rem;
}

.btn-primary {
    background-color: #163359;
    border-color: #163359;
}

#contenido .fila {
    min-height: 200px;
    border-bottom: solid #ffe81f 3px;
}

#contenido .fila .columna .imagen{
    width:25vh;
    max-width:80px;
    height:25vh;
    max-height:80px;
    position:relative;
    background:white;
    border-radius: 50px;
    margin: 10px auto ;
    border: solid #ffe81f 2px;
}

#contenido .fila .columna h1 {
    width: 60%;
    margin: 10px auto;
    text-align: center;
}

#contenido .fila .columna p {
    width: 40%;
    margin: 10px auto;
    text-align: center;
}

#footer {
    background-color: #3A3C55;
    border-top: solid #ffe81f 2px;
    color: #fffcd9;
}

.img img {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.contacto {
    text-align: center;
    margin: auto 0;
}

.contacto .item {
    margin: 10px;
}

.contacto a {
    text-decoration: none;
    color: #fffcd9;
    display: inline-block;
    margin: 0 5px;
}