{% extends "Star_wars_app/base.html" %}
{% load static %}

{% block content %}

    <div class="container" id="contenido">
        <div class="row fila">
            <div class="col-xs-12 col-md-4 columna">
                <div class="imagen">
                    <i class="fa-brands fa-space-awesome"></i>
                </div>
                <h1>Nombre.</h1>
                <p>{{ object.nombre }}</p>
            </div>
            <div class="col-xs-12 col-md-4 columna">
                <div class="imagen">
                    <i class="fa-solid fa-list-ol"></i>
                </div>
                <h1>Modelo.</h1>
                <p>{{ object.modelo }}</p>
            </div>
            <div class="col-xs-12 col-md-4 columna">
                <div class="imagen">
                    <i class="fa-solid fa-list-ol"></i>
                </div>
                <h1>Clase.</h1>
                <p>{{ object.clase }}</p>
            </div>
        </div>
        <div class="row fila">
            <div class="col-xs-12 col-md-4 columna">
                <div class="imagen">
                    <i class="fa-solid fa-money-bill"></i>
                </div>
                <h1>Costo.</h1>
                <p>{{ object.costo }}</p>
            </div>
            <div class="col-xs-12 col-md-4 columna">
                <div class="imagen">
                    <i class="fa-solid fa-gauge-high"></i>
                </div>
                <h1>Velocidad maxima.</h1>
                <p>{{ object.velocidad_max }}</p>
            </div>
            <div class="col-xs-12 col-md-4 columna">
                <div class="imagen">
                    <i class="fa-solid fa-film"></i>
                </div>
                <h1>Peliculas en las que aparece {{ object.nombre }}.</h1>
                <div>
                    <ul>
                    {% for pelicula in peliculas %}
                        {% for nave in pelicula.devolverNaves %}
                        {% if object.nombre == nave.nombre %}
                        <li>{{ pelicula.titulo }}</li>
                        {% endif %}
                        {% endfor %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row fila">
            <div class="col-12 columna">
                <div class="imagen">
                    <i class="fa-solid fa-people-group"></i>
                </div>
                <h1>Pilotos.</h1>
                {% if object.nombre in per.devolverNombresNave %}
                <div>
                    <ul>
                    {% for personaje in personajes %}
                        {% if personaje.devolverNaves %}
                        {% for nave in personaje.devolverNaves %}
                            {% if object.nombre == nave.nombre %}
                            <li>{{ personaje.nombre }}</li>
                            {% endif %}
                        {% endfor %}
                        {% endif %}                        
                    {% endfor %}
                    </ul>
                </div>
                {% else %}
                <p>La nave {{ object.nombre }} no ha sido piloteada aún</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}